Simple Logger.json
{
  "name": "First Workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Test For for Feedback",
        "formDescription": "Getting feedback of product X from customers",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name",
              "requiredField": true
            },
            {
              "fieldLabel": "Email_Id",
              "fieldType": "email",
              "requiredField": true
            },
            {
              "fieldLabel": "Age",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Feedback",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Positive"
                  },
                  {
                    "option": "Neutral"
                  },
                  {
                    "option": "Negative"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -848,
        -160
      ],
      "id": "861cb945-0314-410d-89f2-ca55e2430130",
      "name": "On form submission",
      "webhookId": "d00afa12-7aba-43d2-81bc-fccdd9256482"
    },
    {
      "parameters": {
        "content": "## Workflow\n\n### Nodes \n1. Trigger\n2. Google sheet\n3. IF\n4. Edit Fields\n\n### Steps\n1. Using the form submission node to get customer data\n2. Give Discount to customers with positive feedback\n3. Save Customer data to google sheets\n\n",
        "height": 288,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        -496
      ],
      "typeVersion": 1,
      "id": "e39ecf6c-a1ff-47b3-a792-226f2441dc22",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SDVBDmBVl4IUh13vFofPrwWl6tWVrhLqIZS0zAp0VGY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1SDVBDmBVl4IUh13vFofPrwWl6tWVrhLqIZS0zAp0VGY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_Id": "={{ $json.Email_Id }}",
            "Name": "={{ $json.Name }}",
            "Age": "={{ $json.Age }}",
            "Feedback": "={{ $json.Feedback }}",
            "Give_Discount": "={{ $json.Give_Discount }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email_Id",
              "displayName": "Email_Id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Age",
              "displayName": "Age",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Give_Discount",
              "displayName": "Give_Discount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -160
      ],
      "id": "6cf4ad65-e3fa-4279-a1b0-0ded6bb423b3",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "t080LRMLyxG6TCMr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9654dffe-41ff-4917-afbc-24735c0d9a0a",
              "leftValue": "={{ $json.Feedback }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        -160
      ],
      "id": "b68fcac0-a4ad-4fdd-947c-fe5ce0f45d3e",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41fe5716-0904-424f-b009-8bf29f8beadd",
              "name": "Give_Discount",
              "value": "No",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -64
      ],
      "id": "bc8c5a86-41f6-4d06-9546-7a26fe99355b",
      "name": "Discount_No"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41fe5716-0904-424f-b009-8bf29f8beadd",
              "name": "Give_Discount",
              "value": "Yes",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -256
      ],
      "id": "45e5aa7b-5361-447f-84b6-4e18cfabe02c",
      "name": "Discount_Yes"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Discount_Yes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Discount_No",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discount_No": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Discount_Yes": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "99d00880-816d-49ae-88e3-9060420cd5e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2b20ff06a5fd819106b6fde46321d7970fa14c52c584f1db1994bbf3e4a1d9ea"
  },
  "nodeGroups": [],
  "id": "sSUBdvzuW1zzt6Bv",
  "tags": []
}